tbody,
    td {
      border: 2px solid rgba(3, 146, 240, 0.29);
    }
    table {
      width: 53vw;
      padding-left: 20;
      margin-left: 25px;
      margin-right: 25px;
    }
    thead {
      font-size: larger;
    }
    body {
      background-color: rgb(37, 46, 201);
    }